annotated-types
anyio
appnope
asttokens
click
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
fastapi
fonttools
geographiclib
geopy
graphviz
h11
idna
iniconfig
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
narwhals
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
plotly
pluggy
postalcodes-ca
prompt_toolkit
psutil
ptyprocess
pure_eval
pydantic
pydantic_core
pygame
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
scipy
seaborn
six
sniffio
stack-data
starlette
tabulate
tornado
tqdm
traitlets
transitions
typing_extensions
tzdata
uvicorn
wcwidth